###> symfony/framework-bundle ###
.env
.env.*
/.env.local
/.env.local.php
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

# PHPStorm / JetBrains
.idea/

# VS Code
.vscode/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp/
.pnp.js

# MacOS / Linux
.DS_Store

# PHPUnit
/phpunit.xml
/phpunit.result.cache

# Symfony Encore / Webpack Encore
/public/build/
/assets/build/

# Logs
/logs/
*.log

# Coverage reports
/coverage/